@{
    ViewBag.Title = @Global.Merchant.ResetConfirmation;
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

<div class="row rowb">
    <p style="color:#CC3333;">@ViewBag.Title.</p>
    <div>
        <p>
            @Global.Merchant.ResetMessage @Global.Merchant.Please @Html.ActionLink(@Global.Merchant.LoginLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>


