@{
    ViewBag.Title = @Global.Consumer.ResetConfirmation;
}


<div class="row rowb">
    <h1>@ViewBag.Title.</h1>
    <p>
        @Global.Consumer.ResetMessage @Global.Consumer.Please @Html.ActionLink(@Global.Consumer.LoginLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
