@model ConsumerApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = @Global.Consumer.Resetpassword;
}

@*<script type="text/javascript">
        function FillLanguage() {
            $('#LanguageId').html("");
            var CountryId = $('#CountryId').val();
            if (CountryId != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getLanguage")',
                    dataType: 'json',
                    data: { id: CountryId },
                    success: function (countries) {
                        $.each(countries, function (i, state) {
                            $("#LanguageId").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve country languages.' + ex);
                    }
                });
                return false;
            }
        }
    </script>*@

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="row rowb">
        <p style="color:#CC3333;">@Global.Consumer.Resetyourpassword</p>
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger", @style = "color:red" })
        @Html.HiddenFor(model => model.Code)
        @*<label>
                @Html.DropDownListFor(m => m.CountryId, (List<SelectListItem>)ViewBag.CountryList, "Select Country",
                    new { @style = "border-radius:4px;", @onchange = "FillLanguage()" })
            </label>

            <label>
                @Html.DropDownListFor(m => m.LanguageId, new SelectList(Enumerable.Empty<SelectListItem>(), "Text", "Value"), @Global.Consumer.SelectLanguage,
             new { @style = "border-radius:4px;" })
                @Html.HiddenFor(m => m.LanguageId)
            </label>*@

        <label>
            @Global.Consumer.UserName

            @Html.TextBoxFor(m => m.UserName, new { @Value = ViewBag.UserName,@class = "textbox", @readonly = "readonly", @placeholder = @Global.Consumer.UserName })
        </label>

        <label>
            @Global.Consumer.Password
            @Html.PasswordFor(m => m.Password, new { @class = "textbox", @placeholder = @Global.Consumer.PasswordPrompt })
        </label>

        <label>
            @Global.Consumer.Confirmpassword
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox", @placeholder = @Global.Consumer.Confirmpassword })
        </label>

        <input type="submit" class="button" value="@Global.Consumer.Reset" style="width:100%; border-radius:5px;" />

    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript">
            $(function () {

                var CountryId = $('#CountryId').val();
                if (CountryId != "") {
                    FillLanguage();
                }
            }
            );
        </script>*@
}
