@{
    ViewBag.Title = @Global.InstaDelight.ResetConfirmation;
}
<div class="row rowb">
    <h1>@ViewBag.Title.</h1>

    <p>
        @Global.InstaDelight.ResetMessage @Global.InstaDelight.Please @Html.ActionLink(@Global.InstaDelight.LoginLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>

</div>